<h1>Testing out Chart JS</h1>
<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.umd.js"></script> %>
<%= content_tag :div,
  tag(:canvas, "data-line-chart-target": :canvas),
  data: {
    controller: "line-chart",
    "line-chart-url-value": transactions_path }
     %>
